/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background:#ECEEF1;
    
}
#main-container {
    font-family: "AvenirNext", Avenir, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #4C4C4C;
    display: grid;
    grid-template-rows: 2fr 2fr 700px 1fr;
    margin: auto;

}
.login ul {
    list-style-type: none;
    padding-right: 5px;
}
.login {
        display: inline-flex;
        font-size: 13.5px;
        width: fit-content;
        padding: 20px;
        justify-self: end;   
}
#loginsettings {
    width: 100px;
    height: 38px;
    background-color: #0077C5;
    color: white;
    border-radius: 5px;
   
}
.formcontainer {
    display: block;
    max-width: 400px;
    margin: auto;
    background: white;
    min-height: 680px;
    padding: 15px;
    border: solid 1px #4C4C4C;
}
#heading{
    text-align: center;
}
#headinglabel {
    font-weight: 5px;
    font-size: x-large;
    text-align: center;
    padding: 10px;
}
.formheader p {
    font-weight: 4px;
    font-size: 17px;
    text-align: center;
}
.formheader p a {
    text-align: center;
    font-size: 14px;
}
.formcontainer ul {
    list-style-type: none;
    display: block;
    padding: 10px;
}
.formcontainer ul li {
padding-top: 30px;
}
.formcontainer ul li input {
    width: 345px;
    height: 25px;
    justify-self: center;
    border: #4C4C4C solid 1px;
}
h3 {
    padding-bottom: 5px;
    font-weight: normal;
}
.formcontainer ul li p {
    font-size: 13px;
    color: rgb(43, 41, 41);
}
.formcontainer button {
    background-color: #0077C5;
    width: 270px;
    height: 40px;
    border-radius: 5px;
    color: white;
    font-weight: lighter;
    text-align: center;
    font-size: 15px;
}
.formcontainer #btn {
    width: fit-content;
    margin: auto;
    padding-top: 30px;
}
.formcontainer span {
    font-size: 13px;
    color: rgb(56, 55, 55);
    
}
.formcontainer #terms {
    text-align: center;
    padding-top: 20px;
}
footer {
   text-align: center;
}
footer span {
    font-weight: lighter;
    font-size: small;
}
.footerbutton {
    float: right;
    bottom: 0;
    border: none;
    border-radius: 4px;
    position: fixed;
    font-size: x-large;
    font-weight: 1px;
    background: gray;
    color: white;
    padding: 4px;
}
.footerbutton span {
    font-weight: lighter;
    font-size: 15px;
}
a {
    text-decoration: none;
    color: #0077C5;
}
.recaptcha {
    background: gray;
    bottom: 0;
    padding: none;
}